SPRIV="insert-sender-private-key-in-hex-format"
SPUB="insert-sender-public-key-in-hex-format"

RPRIV="insert-receiver-private-key-in-hex-format"
RPUB="insert-receiver-public-key-in-hex-format"

CHANPRIV="(optional)"
CHANPUB="insert-channel-public-key-in-hex-format"

RELAY="insert-relay-address"